.buttons {
    background-color: rgb(193, 193, 225);
    text-decoration: none;
    color:black;
    height: 10%;
    width:20%;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    opacity: 70%;
    
    margin-left: 4em;
}
