.poster {
  margin-top: 3rem;
  max-width: 1000px;

    background-image: 
    linear-gradient(rgba(138, 127, 95, 0.92), rgba(79, 78, 72, 0.92)),
    url('/img/13.jpg');
  padding: 3rem;
background-blend-mode: multiply;
filter: contrast(0.95) saturate(0.9);
  border: 5px solid var(--retro-dark);
   box-shadow: 12px 12px 0px var(--retro-dark);
}
.title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 64px;
  margin-bottom: 2rem;
 letter-spacing: 1px;
 text-shadow: 3px 3px 0px white;
}
.board {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.card {
  
  width: 280px;
  padding: 1.4rem;
  color:rgb(174, 174, 160);
  border: 3px solid var(--retro-dark);
  box-shadow: 5px 5px 0px var(--retro-dark);

  transition: 0.2s ease;
}
.badge {
  display: inline-block;
  background: rgb(243, 88, 22);
  padding: 5px 12px;

  border: 2px solid var(--retro-dark);
  font-family: 'Bebas Neue', sans-serif;
  font-size: 16px;

  margin-bottom: 0.7rem;
}
.card:hover {
  transform: translateY(-4px);
  box-shadow: 7px 7px 0px var(--retro-dark);
}
