@import "typography.css";
@import "theme.css";
@import "reset.css";

body {
    background-image: url('/img/9.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 90px;
}

/* .page {
    
  min-height: 100vh;
  padding: 2rem 3rem;
} */

