* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@400;600&display=swap');


.page {
   padding: 6rem 4rem;
}
h1, h2, h3 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 42px;
}

p {
    font-size: 18px;
}

 


