/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
      
  } */

   /* .body{
    /* background-image: url(https://img.freepik.com/premium-photo/professional-petanque-player-competition-attire-playing-boules-match-photorealistik-solid-color-background_964851-151238.jpg); */
    /* padding: 23em;
    background-color: rgb(71, 71, 200);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top; */
